<div class="container">
  <h1><%= @restaurant.name %></h1>
        <p>This restaurant is located at <%= @restaurant.address %></p>
        <p> The food type is <%= @restaurant.category %></p>
        <%= link_to "Back", restaurants_path %>
    <div>
    <% @restaurant.reviews.each do |review| %>
      <ul>
        <li>
          <h3><%= review.content %></h3>
          <p><%= review.rating %></p>
        </li>
      </ul>
      <% end %>
    </div>
</div>
